.App {
  text-align: center;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .errors {
    color: red;
    font-weight: bold;
  }
  nav {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: rgb(128, 117, 117);
      font-size: 20px;
    }
  }
  .dashboard {
    .books {
      // display: flex;
      // flex-direction: column;
      margin: auto;
      width: 300px;


      .book {
        padding: 10px;
        margin: 10px 0;
        background: #aaa;
        border-radius: 20px;
        & > :last-child {
          font-size: .8em;
        }
      }
    }
  }

  .App-link {
    color: #61dafb;
  }
}
